<div class="page-header">

  <!-- Single button -->
  <!--<div class="row"> these commented out lines are an attempt to shrink the page header area-->
    <!--<div class="col-md-1">-->
      <div class="btn-group container">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Contact <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/contact">phone: 970-618-2380</a></li>
          <li><a href="/contact">email: justintime6955@msn.com</a></li>
          <li class="divider"></li>
          <li><a href="/contact">Click for Map to Showroom</a></li>
        </ul>
      </div>

      <h1 align="center" class="title_justin">Justin Floors Inc.</h1>
  <p class="hidden">www.justinfloorsinc.com</p>
  <p class="hidden">http://www.justinfloorsinc.com</p>
  <p class="hidden">justinfloorsinc.com</p>
  <p class="hidden">http://justinfloorsinc.com</p>
  <p class="hidden">justin-floors.herokuapp.com</p>
  <p class="hidden">http://justin-floors.herokuapp.com</p>
</div>

<body>
<!-- this makes the dropdown buttons work -->
<script>
  $('.dropdown-toggle').dropdown();
</script>

  <div class="container">
    <div class="row">

      <!-- ABOUT PANEL -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info ">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/about">About Justin Floors</a></h3>
          </div>
          <div class="panel-body">
            <p>Justin Glasenapp has been in the Roaring Fork Valley for 37 years and selling flooring for 20 years. We have high quality installers...</p>
            <p><a href="/about">(click for more)</a></p>
            <div class="row">
              <div class="col-xs-12">
                <%= link_to image_tag('justin_with_kids_sm.jpg', size: '250x300', align: 'center'), '/about', class: 'thumbnail' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SHOWCASE PANEL -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/showcase">Showcase</a></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to image_tag('wood_5_kitchen_demo.jpg', align: 'center', size: '220x220'), '/showcase', class: 'thumbnail image_bg' %>
              </div>
              <div class="col-xs-12">
                <%= link_to image_tag('carpet_4.jpg', align: 'center', size: '220x220') , '/showcase', class: 'thumbnail' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TESTIMONIALS PANEL -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/testimonials">Testimonials</a></h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>"<%= @sample_testimonial_1.testimonial unless @sample_testimonial_1.nil? %>"<br><div class="signature"><em>
                -<%= @sample_testimonial_1.name unless @sample_testimonial_1.nil? %></em></div></li><br><br>
              <li>"<%= @sample_testimonial_2.testimonial unless @sample_testimonial_2.nil? %>"<br><div class="signature"><em>
                -<%= @sample_testimonial_2.name unless @sample_testimonial_2.nil? %></em></div></li><br><br>
            </ul>
            <a href="/testimonials">
              <div class="btn btn-primary">Read More</div>
            </a>
            <a href="/testimonials/new">
              <div class="btn btn-primary">Write a Testimonial</div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BLOG -->
  <div class="blog">
    <div class="container">
      <div class="row">
        <h1 align='center'>The Latest from Justin Floors</h1>
        <% if current_admin %>
          <%= link_to 'New Post', new_post_path, class: 'btn btn-large btn-success' %>
        <% end %>
      </div>
      <% @posts.each do |post| %>
        <div class="row">
          <div class="well">
            <h3 align='center'><span><%= post.title %></span></h3>
            <h6 align="center"><%= post.created_at.strftime("%b %e, %Y") %></h6>

            <td><%= post.body %></td>
            <% if current_admin %>
              <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info', style: 'float: right' %>
              <%= link_to 'Delete', post, method: :delete, class: 'btn btn-warning', style: 'float: right', data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
