<div class="page-header">

  <!-- Single button -->
  <!--<div class="row"> these commented out lines are an attempt to shrink the page header area-->
    <!--<div class="col-md-1">-->
      <div class="btn-group container">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Contact <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/contact">phone: 970-618-2380</a></li>
          <li><a href="/contact">email: justintime6955@msn.com</a></li>
          <li class="divider"></li>
          <li><a href="/contact">Click for Map to Showroom</a></li>
        </ul>
      </div>

      <h1 align="center" class="title_justin">Justin Floors Inc.</h1>
  <p class="hidden">www.justinfloorsinc.com</p>
  <p class="hidden">http://www.justinfloorsinc.com</p>
  <p class="hidden">justinfloorsinc.com</p>
  <p class="hidden">http://justinfloorsinc.com</p>
  <p class="hidden">justin-floors.herokuapp.com</p>
  <p class="hidden">http://justin-floors.herokuapp.com</p>
</div>

<body>
<!-- this makes the dropdown buttons work -->
<script>
  $('.dropdown-toggle').dropdown();
</script>

  <div class="container">
    <div class="row">

      <!-- ABOUT PANEL -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info ">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/about">About Justin Floors</a></h3>
          </div>
          <div class="panel-body">
            <p>Justin Glasenapp has been in the Roaring Fork Valley for 37 years and selling flooring for 20 years. We have high quality installers...</p>
            <p><a href="/about">(click for more)</a></p>
            <div class="row">
              <div class="col-xs-12">
                <%= link_to image_tag('justin_portrait.jpg', size: '250x300', align: 'center'), '/about', class: 'thumbnail' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SHOWCASE PANEL -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/showcase">Showcase</a></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to image_tag('wood_5_kitchen_demo.jpg', align: 'center', size: '220x220'), '/showcase', class: 'thumbnail image_bg' %>
              </div>
              <div class="col-xs-12">
                <%= link_to image_tag('carpet_4.jpg', align: 'center', size: '220x220') , '/showcase', class: 'thumbnail' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TESTIMONIALS PANEL -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/testimonials">Testimonials</a></h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>"<%= @sample_testimonial_1.testimonial unless @sample_testimonial_1.nil? %>"<br><div class="signature"><em>
                -<%= @sample_testimonial_1.name unless @sample_testimonial_1.nil? %></em></div></li><br><br>
              <li>"<%= @sample_testimonial_2.testimonial unless @sample_testimonial_2.nil? %>"<br><div class="signature"><em>
                -<%= @sample_testimonial_2.name unless @sample_testimonial_2.nil? %></em></div></li><br><br>
            </ul>
            <a href="/testimonials">
              <div class="btn btn-primary">Read More</div>
            </a>
            <a href="/testimonials/new">
              <div class="btn btn-primary">Write a Testimonial</div>
            </a>

          </div>
        </div>
      </div>

      <!-- CONTACT PANEL -->
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/contact">Contact</a></h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>phone: 970-618-2380</li>
              <li>email: justintime6955@msn.com</li>
              <li>Showroom: 1117 Village Rd. Carbondale, CO</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
