<%= render 'welcome/nav_bar' %>

<div class="page-header container">
  <a href="/testimonials/new">
    <div class="btn btn-primary testimonial_button">Write a Testimonial</div>
   </a>
  <h1 align="center" class="title_justin">Testimonials</h1>
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Testimonial</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testimonials.each do |testimonial| %>
      <tr>
        <td><%= testimonial.name %></td>
        <td><%= testimonial.testimonial %></td>
        <td><%= testimonial.rating %></td>
        <td><%= link_to 'Show', testimonial %></td>
        <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
        <td><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
