<%= render 'welcome/nav_bar' %>

<% if notice %>
<div class="alert alert-success alert-dismissible container" align="center" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= notice %>
</div>
<% end %>

    <ul class="list-group container">
        <li class="list-group-item">
          "<%=@testimonial.testimonial %>"
          <em class="signature">-<%= @testimonial.name %></em>
        </li>
    </ul>

<div class="container">
  <%= link_to testimonials_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_testimonial_path(@testimonial), :class => 'btn btn-warning' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%= link_to @testimonial, class: 'btn btn-warning', method: :delete, data: { confirm: 'Are you sure you want to delete this review?' } do %>
    <span class="glyphicon"></span>
    Delete
  <% end %>


</div>
