<%= render 'welcome/nav_bar' %>

<% if notice %>
<div class="alert alert-success alert-dismissible container" align="center" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= notice %>
</div>
<% end %>

    <ul class="list-group container">
        <li class="list-group-item">
          "<%=@testimonial.testimonial %>"
          <em class="signature">-<%= @testimonial.name %></em>
        </li>

        <!-- uncomment below to edit and delete testimonials -->
        <li>
        <%= link_to 'Edit', edit_testimonial_path(@testimonial) %>
        <%= link_to 'Delete', @testimonial, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
    </ul>

<div class="container">
  <a href="/testimonials">
    <div class="btn btn-primary testimonial_button">Back</div>
  </a>
</div>
